@page "/"
@inject NotificationService NotificationService

<h1>Hello, world!</h1>

<RadzenButton Text="Click me" Click="@(() => NotificationService.Notify(new NotificationMessage{ Detail = "Hello from Radzen!"}))" />

Welcome to your new app.
