@page "/transactions"
@inject DataService DataService
@using BlazorApp.Data

<h1>Transactions</h1>

<p>This component demonstrates showing data.</p>

@if (transactions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tx in transactions!)
            {
                <tr>
                    <td>@tx.Id</td>
                    <td>@tx.Date.ToShortDateString()</td>
                    <td>@tx.Description</td>
                    <td>@tx.Amount</td>                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Transaction[]? transactions;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate a loading indicator
        await Task.Delay(500);


        var data = await DataService.GetCacheTransactions();
        if (data == null || data.Count == 0) {
            await DataService.CacheTransactions();
            data = await DataService.GetCacheTransactions();
        }

        transactions = data!.ToArray();
    }

    
}
